heart-range {
img{
  position: absolute;
  bottom: 5px;
}
  div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 90%;
  }
  .caption {
    display: block;
  }
  .grid-box{
    padding-top: 15%;
  }
}
