page-home {
  .heart-img{

  }
  .heart-box{
    margin: auto;
    width: 90%;
  }
  .time-up{
    color: red;
  }
  .main-box{
    direction: rtl;
  }
  .center {
    /* text-align: center; */
    font-size: xx-large;
    font-weight: 800;
    /* border: 2px solid antiquewhite; */
    width: 80%;
    margin: auto;
    max-height: 70px;
  }
}
