breath {
  .heart-img{

  }
  .heart-box{
    margin: auto;
    width: 90%;
  }
  .time-up{
    color: red;
  }
  .main-box{
    direction: rtl;
  }
  .breath-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-right: 10%;
  }
}
